.AboutSection{
    background-Color: #0a0a0a;
    font-family: Outfit,sans-serif;
}
.Techstack{
    transition: transform 0.3s ease-in-out;
}

.Techstack:hover{
   transform:rotate(-15deg) ;
   transition: transform 0.3s ease-in-out;
}

.Profile{
    width:"180px";
    height:"180px"
}

.Aboutme{
    background-image: linear-gradient(45deg, #2d7eff, #833ab4, #d24977, #ff4242, #ffa82f);
    animation: gradient-shift 5s infinite;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 3rem !important;
    max-width: none;
    
}


@keyframes gradient-shift {
    0% {
    background-position: 0;
}
50% {
    background-position: 100%;
}
100% {
    background-position: 0;
}
}


