.ContactShine {
    background-image: linear-gradient(45deg, #2d7eff, #833ab4, #d24977, #ff4242, #ffa82f);
    animation: gradient-shift 5s infinite;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 3rem !important;
    max-width: none;
    
}
a{
  text-decoration: inherit !important;
}

