.navbar{
    position: fixed;
    color: white;
    background-color: oklch(0.145 0 0);
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

.navlinks{
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 5px 5px;
    border: 2px solid rgb(30, 29, 29);
    border-radius: 16px;
}

.navlinks li {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    padding:  8px 16px;
    border-radius: 2rem;
    transition: all 0.3s ease; 
}
.navlinks li:hover {
    background-color: oklch(29.962% 0.00337 344.877) !important;
    cursor: pointer;
    transform: scale(1.1);
}


