.project-card {
    cursor: pointer;
}

.project-overlay {
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: rgba(0, 0, 0, 0.95)!important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    pointer-events: none;
    border-radius: calc(1rem - 1px);
}

.project-overlay img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.project-overlay.show {
    opacity: 1;
    visibility: visible;
}

.ProjectName{
    background-image: linear-gradient(45deg, #2d7eff, #833ab4, #d24977, #ff4242, #ffa82f);
    animation: gradient-shift 5s infinite;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 3.1rem !important;
    max-width: none;

}
.ProjectHeader{
    font-family: Outfit,sans-serif;
}


