 .Skills{
    background-image: linear-gradient(45deg, #2d7eff, #833ab4, #d24977, #ff4242, #ffa82f);
    animation: gradient-shift 5s infinite;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 3.1rem !important;
    max-width: none;
}

.imagediv{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 40px 150px;
    max-width: 100%;
    justify-items: center;
}

@media (max-width: 768px) {
    .imagediv {
        margin: 40px 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .imagediv {
        margin: 40px 10px;
        grid-template-columns: repeat(3, 1fr);
    }
}
.imagediv img{
    height: 60px;
    width: 60px;
}

.imgpost{
    display: flex;
    flex-direction: column;
    gap:10px

}

.imgpost p {
    text-align: center;
    color: white;
}


@media (max-width: 600px) {
    .Skills{
         font-size: 2rem !important;
    }
}

