.App{
  background-color: #0a0a0a;
}

.fade-right{
opacity: 0;
clip-path: inset(0% 100% 0% 0%);
transition: all 1.2s ease-out;
}

.fade-right.show {
  opacity: 1;
  clip-path: inset(0% 0% 0% 0%);
}

.fade-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.fade-in-up {
  opacity: 1;
  transform: translateY(0);
}

.fade-up-large {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease-out;
}

.fade-up-large.show {
  opacity: 1;
  transform: translateY(0);
}

.fade-up-left {
  opacity: 0;
  transform: translate(30px, 30px);
  transition: all 0.5s ease-out;
}

.fade-up-left.show {
  opacity: 1;
  transform: translate(0, 0);
}

.rotate-y {
  opacity: 0;
  transform: rotateY(45deg);
  transition: opacity 0.6s ease-out 0.4s, transform 0.6s ease-out 0.4s;
}

.rotate-y.show {
  opacity: 1;
  transform: rotateY(0deg);
}

.fade-in-up-right {
  opacity: 0;
  transform: translate(-30px, 30px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.fade-in-up-right.show {
  opacity: 1;
  transform: translate(0, 0);
}

.fade-in-down{
  opacity:0;
  transform: translateY(-20px);
  transition: transform 0.5s ease-out;
}


.fade-in-down.show{
  opacity:1;
  transform: translateY(0);

}

.fade-in-up{
  opacity:0;
  transform: translateY(20px);
  transition: transform 0.5s ease-out;
}


.fade-in-up.show{
  opacity:1;
  transform: translateY(0);

}